/* Global styles */
:root {
  --bg: #ffffff;
  --black:#000000;
  --text: #1b1b1b;
  --muted: #9B9B9B;
  --accent: #111827;
  --border: #e5e7eb;
  --container: 1200px;

  font-size: 16px; /* controls rem scale */
}

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  color: var(--text);
  background: var(--bg);
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul li{
  list-style: none;
}

.container {
  width: 100%;
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 1rem;
}

.hide-desktop { display: none; }
.show-desktop { display: block; }

@media (max-width: 1024px) {
  .hide-desktop { display: block; }
  .show-desktop { display: none; }
}

button {
  font-family: inherit;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
